MONGO_URI=mongodb://mongo:27017/gdash
JWT_SECRET=supersecreto
JWT_EXPIRES_IN=1d

OPENWEATHER_API_KEY=SUA_CHAVE
CITY=Rio de Janeiro

RABBITMQ_HOST=rabbitmq
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=weather_queue

API_BASE_URL=http://api:3000
VITE_API_URL=http://localhost:3000
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=123456

